/* tabella.css */

.table-lista {
  width: 78%;
  border-collapse: collapse;
  margin-left: 2%;
}
.h3-tabella {
  margin-left: 2%;
}
.table-lista th,
.table-lista td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-lista thead th {
  background-color: #343a40;
  color: #fff;
}

.table-lista tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-lista th:first-child,
.table-lista td:first-child {
  padding-left: 16px;
}

.table-lista th:last-child,
.table-lista td:last-child {
  padding-right: 16px;
}

/** css per popup delle liste */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup-inner p {
  margin-bottom: 20px;
}

.popup-inner button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

.popup-inner button:hover {
  background-color: #0056b3;
}

.popup-inner button:last-child {
  background-color: #dc3545;
}

.popup-inner button:last-child:hover {
  background-color: #c82333;
}

.stretta {
  width: 50px;
}

.opacizzato {
  opacity: 0.5; /* Imposta l'opacità a 50% */
  cursor: not-allowed; /* Cambia il cursore quando il pulsante è disabilitato */
  /* Aggiungi altri stili desiderati per indicare che il pulsante è disabilitato */
}
