.property-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.property {
    width: calc(33.33% - 20px); /* Imposta la larghezza della singola proprietà */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.property img {
    width: 100%; /* Rendi l'immagine della proprietà piena larghezza */
    height: auto;
    border-radius: 5px;
}

.property h3 {
    margin-top: 10px;
    font-size: 18px;
}

.property p {
    font-size: 14px;
    color: #666;
}

h2 {
    color: rgb(199, 55, 12);
}

.titolo-1 {
    color: rgb(160, 61, 31);
    font-style: italic;
}